body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    /* background-color: rgba(102, 156, 48, 0.2); */
}

a {
    color: black;
    text-decoration: none;
} /* Unvisited link  */
a:visited {
    color: black;
    text-decoration: none;
} /* Visited link    */
a:hover {
    color: black;
    text-decoration: none;
} /* Mouse over link */
a:active {
    color: black;
    text-decoration: none;
}

.headerSubheaderContainer {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    max-width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500000;
    background: white;
}

.header img {
    margin-left: 100px;
    height: 60px;
    width: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}

.navbar p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: "600";
    font-style: normal;
    margin-left: 32px;
    cursor: pointer;
}

.underHeaderImg {
    background-image: url("public/Rectangle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12%;
}

.baffi {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 16%;
    right: 28%;
    z-index: 1;
}

.closed {
    height: 88%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* margin-right: 10%; */
}

.underHeaderImg p {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    color: white;
    z-index: 10000;
}

.open img {
    width: 111px;
    height: 97px;
    position: relative;
    bottom: 20px;
}

.closed img {
    width: 111px;
    height: 97px;
    position: relative;
    top: 60px;
}

.headerButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid white;
    border-radius: 40px;
    width: fit-content;
    height: fit-content;
    width: 15%;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: white;
    margin-bottom: 80px;
    cursor: pointer;
}

/* .headerButton:hover {
    background-color: #70a62e;
    border-color: #70a62e;
} */

.headerButton img {
    margin-left: 10px;
    width: 22px;
    height: 14px;
}

.sanifications {
    margin-top: 100px;
    width: 60%;
    margin-left: 7%;
    margin-right: auto;
    background-color: #f6f6f6;
    border-radius: 71px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    height: 300px;
    margin-bottom: 100px;
}

.services {
    margin-top: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: 7%;
    background-color: #f6f6f6;
    border-radius: 71px;
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-around;
    height: 300px;
    margin-bottom: 100px;
}

.imgCont {
    height: 100%;
    width: 50%;
    background-image: url("public/9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 71px;
}

.imgCont2 {
    height: 100%;
    width: 50%;
    background-image: url("public/8.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 71px;
}

.imgCont3 {
    height: 100%;
    width: 50%;
    background-image: url("public/10.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 71px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.title {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
}

.parag {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-top: -22px;
    margin-bottom: 20px;
}

.saniButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 40px;
    background-color: #70a62e;
    width: fit-content;
    height: fit-content;
    width: 60%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
}

.buttonContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.saniButton img {
    margin-left: 10px;
    width: 22px;
    height: 14px;
}

.goUp {
    width: 80%;
    height: 103px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 200px;
}

.circle {
    width: 103px;
    height: 103px;
    border-radius: 100%;
    background-color: rgba(102, 156, 48, 0.47);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.upArrow {
    background-image: url("public/upArrow.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 40%;
}

footer {
    width: 100%;
    height: 400px;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    padding-bottom: 25px;
}

.horizCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 98%;
}

.verticalOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 100%;
    /* background-color: thistle; */
    margin-bottom: 50px;
}

.second {
    border-left: 2px solid #6ca547;
}

.logoCont {
    width: 60%;
    height: 30%;
    background-image: url("public/6.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.address {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.addressP {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #484c4c;
    text-align: left;
}

.socialCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 30%;
}

.social {
    height: 57px;
    width: 57px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social:hover {
    background-color: rgba(102, 156, 48, 0.47);
}

.elem {
    width: 35px;
    height: 35px;
    background-image: url("public/Path.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.elem2 {
    width: 35px;
    height: 35px;
    background-image: url("public/Path2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.elem3 {
    width: 35px;
    height: 35px;
    background-image: url("public/Path3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.verticalTwo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 30%;
    height: 100%;
    /* background-color: thistle; */
    margin-bottom: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.tit {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin-bottom: -10px;
    color: #484c4c;
}

.data {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #484d4d;
    margin-bottom: -20px;
}

.copy {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 30px;
}

.path {
    margin-top: 15vh;
    padding-left: 100px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.green {
    color: #669c30;
}

.serviceContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.topImg {
    margin-top: 40px;
    width: 100%;
    background-image: url("public/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 61px;
    height: 450px;
    margin-bottom: 56px;
}

.topImgOrdinary {
    margin-top: 40px;
    width: 100%;
    background-image: url("public/30.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 61px;
    height: 450px;
    margin-bottom: 56px;
}

.topImgStraordinary {
    margin-top: 40px;
    width: 100%;
    background-image: url("public/31.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 61px;
    height: 450px;
    margin-bottom: 56px;
}

.topImgSanify {
    margin-top: 40px;
    width: 100%;
    background-image: url("public/32.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 61px;
    height: 450px;
    margin-bottom: 56px;
}

.topImgReception {
    margin-top: 40px;
    width: 100%;
    background-image: url("public/35.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 61px;
    height: 450px;
    margin-bottom: 56px;
}

.topImgManutention {
    margin-top: 40px;
    width: 100%;
    background-image: url("public/36.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 61px;
    height: 450px;
    margin-bottom: 56px;
}

.topImgRenovation {
    margin-top: 40px;
    width: 100%;
    background-image: url("public/37.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 61px;
    height: 450px;
    margin-bottom: 56px;
}

.topImgAbout {
    margin-top: 40px;
    width: 100%;
    background-image: url("public/10.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 61px;
    height: 450px;
    margin-bottom: 56px;
}

.ourServices {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.ourContact {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
}

.ourParag {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    width: 40%;
    margin-bottom: 50px;
}

.ourParagService {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 50px;
}

.ourParagContacts {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    width: 70%;
    margin-bottom: 50px;
}

.contactUs {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    width: 60%;
    margin-bottom: 70px;
}

.contactUss {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    width: 50%;
    margin-bottom: 70px;
}

.buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.contactButton {
    width: 200px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #669c30;
    background-color: white;
    border: 1px solid #669c30;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
}

.priceButton {
    width: 200px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #669c30;
    border: 1px solid #669c30;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
}

.annulla {
    width: 30%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #669c30;
    background-color: white;
    border: 1px solid #669c30;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
}

.invia {
    width: 50%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #669c30;
    border: 1px solid #669c30;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    border-radius: 37px;
    background-color: #f6f6f6;
    padding: 33px;
    cursor: pointer;
}

.cardAnchor {
    width: 20%;
}

.serviceImg {
    width: 100%;
    height: 90%;
    border-radius: 22px;
    background-image: url("public/30.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

.serviceImg2 {
    width: 100%;
    height: 90%;
    border-radius: 22px;
    background-image: url("public/31.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

.serviceImg3 {
    width: 100%;
    height: 90%;
    border-radius: 22px;
    background-image: url("public/32.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

.serviceImg4 {
    width: 100%;
    height: 90%;
    border-radius: 22px;
    background-image: url("public/35.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

.serviceImg5 {
    width: 100%;
    height: 90%;
    border-radius: 22px;
    background-image: url("public/36.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

.serviceImg6 {
    width: 100%;
    height: 90%;
    border-radius: 22px;
    background-image: url("public/37.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

.serviceName {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding-top: 20px;
}

.serviceName p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #6ca547;
}

.serviceName img {
    width: 20px;
    height: 20px;
}

.bigContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    padding-left: 10px;
}

.input::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #737373;
}

.textArea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    padding-left: 10px;
    resize: none;
}

.textArea::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #737373;
}

.checkCont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.check {
    border: 1px solid #cecece;
    color: #737373;
    box-sizing: border-box;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    background-color: #737373;
    margin-right: 10px;
}

.label {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.rightContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 33px;
    height: 500px;
    margin-bottom: 30px;
}

.mapContainer {
    margin-top: 0;
    width: 100%;
    height: 40%;
    background-image: url("public/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 33px;
}

.contactsContainer {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.contactElement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-left: 5%;
}

.contactElement p {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    color: #484d4d;
}

.circleContainer0 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    background-image: url("public/tel.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.circleContainer {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    background-image: url("public/tel.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.circleContainer2 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    background-image: url("public/tel.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.pContainer {
    width: 60%;
    overflow-x: scroll;
}

/* MEDIA Q */

@media (max-width: 1350px) {
    .baffi {
        width: 62%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 16%;
        right: 23%;
        z-index: 1;
    }

    .socialCont {
        width: 75%;
    }
}

@media (max-width: 1200px) {
    .baffi {
        width: 67%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 16%;
        right: 21%;
        z-index: 1;
    }

    .sanifications,
    .services {
        width: 75%;
    }

    .parag {
        font-size: 17px;
    }

    .saniButton {
        width: 75%;
    }

    .logoCont {
        width: 70%;
    }

    .addressP {
        font-size: 15px;
    }

    .social {
        width: 50px;
        height: 50px;
    }

    .elem,
    .elem2,
    .elem3 {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1100px) {
    .headerButton {
        width: 20%;
    }
    .baffi {
        width: 78%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 16%;
        right: 16%;
        z-index: 1;
    }

    .title {
        font-size: 30px;
    }

    .parag {
        font-size: 16px;
    }

    .saniButton {
        width: 75%;
    }

    .sanifications {
        width: 75%;
    }
}

@media (max-width: 900px) {
    .headerButton {
        width: 25%;
    }

    .underHeaderImg p {
        font-size: 68px;
    }

    .open img {
        width: 103px;
        height: 80px;
    }

    .closed img {
        width: 103px;
        height: 80px;
    }

    .baffi {
        width: 86%;
        height: 43%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 18%;
        right: 12%;
        z-index: 1;
    }

    .copy {
        font-size: 15px;
    }

    .navbar {
        margin-right: 50px;
    }

    .header img {
        margin-left: 50px;
    }
}

@media (max-width: 650px) {
    .headerButton {
        width: 35%;
    }

    .sanifications,
    .services {
        width: 83%;
    }

    .title {
        font-size: 28px;
    }

    .parag {
        font-size: 15px;
    }

    .baffi {
        width: 88%;
        height: 58%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 12%;
        right: 6%;
        z-index: 1;
    }
}

/* SMARTPHONE */
